html,body{
  text-align: center;
  height : 100%;
  margin: 0;
  padding: 0;
}

.back-image{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* 100% of the viewport height */
  width: 100%;  /* 100% of the viewport width */
  z-index: -1;  /* Keep it behind other elements */
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Centers the background image */
  opacity: 0.7;
}

h1{
  margin-left: 20px;
  font-weight: bolder;

}

h1:hover{
  color: blueviolet;
}

.button{
  height: 100px;
  width: 100px;
  padding : 15px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(30, 180, 244);
  margin: 5px;
  font-weight: 800;
}

.choice-image{
  height: 75px;
}

.button:hover{
  background-color: greenyellow;
}

.button:active{
  background-color: red;
}

.reset{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: antiquewhite;
}

.reset:hover{
  background-color: blueviolet;
}

.reset:active{
  background-color: rgb(185, 4, 149);
}

footer{
  opacity: 0.8;
  margin-top: 100px;
}